@media ( max-width:576px ){
    .hero_banner_content h1{
        color: rgb(253, 250, 250);
        font-size: 34px;
        line-height: 41px;
    }
    header{
        background-color: rgba(56, 55, 55, 0.61);
        background-blend-mode: overlay;
        background-position-x: 20%;
       
    }
    .hero_banner_content p{
        text-align: center;
        font-size: 15px;
    }
    .hero_banner_content{
        padding: 0 20px;
    }
    .hero_banner_content img{
       width: 140px;
       margin-bottom: 20px;

    }
    .arrow p{
        display: none;
       
    }
    .title_section{
        padding: 20px 20px;
    }
    .title_box span{
        font-size: 12px;
        letter-spacing: 1px;
    }
    .title_box h2{
        font-size: 30px;
        margin: 7px;
    }
    .title_box p{
        font-size: 16px;
    }
    .col-1-2{
        max-width: 100%;
        flex-basis: 100%;
    }
    .feature_image img{
        max-width: 80%;
    }
    .feature_content{
        padding: 40px 20px 30px;
        text-align: center;
    }
    .feature_content h3{
        font-size: 30px;
        text-align: center;
        padding-left: 90px;
    }
    .feature_content p{
        font-size: 16px;
        margin: 6px 0 20px;
    }
    .btn{
       
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction:column;
    }
    .column_reverese_mobile{
        flex-direction: column-reverse;
    }
    .content h3{
        font-size: 30px;
        line-height: 40px;
    }
    .content p{
        font-size: 12px;
        margin: 15px 0 0;
    }
    .content{
        text-align: center;
        padding: 40px 30px;
    }
    .subscribe_box{
        height: auto;
        justify-content: center;
        padding: 60px 30px;
        text-align: center;
        align-items: center;
    }
    .subscribe_box h2{
        font-size: 24px;
    }
    .subscribe_box p{
        font-size: 12px;
        margin: 20px 0 30px;
    }
    .subscribe_box .email{
        font-size: 15px;
        text-align: center;
    }
    .subscribe_box .submit{
        font-size: 15px;
       
        width: 100px;
    }
    .fullwidth_section .image img{
        width: 50%;
    }
    .copyright p{
        font-size: 12px;
    }
}
